{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'viewcompany' %}" class="btn bg-dark text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">

<form class="form-horizontal" method="post">{% csrf_token %}

	<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Company Form</div>
                    <div class="card-body">
    {% crispy form %}
    
    				</div>
                    <button type="submit" class="btn btn-dark">Submit</button>
    				</div>
    			</div>
    		</div>
            <div class="row justify-content-center">
            <h1>OR</h1>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">UPLOAD</div>
                    <div class="card-body">
   
                    </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</form>
</div>
<br><br><br><br><br><br>
{% endblock %}