{% extends 'base.html' %}
{% block content %}

<div class="card-header sticky-top bg-light">
<div class="container">
<a href="{% url 'other_utilities' %}" class="btn bg-dark text-white">&larr; Back</a>
</div>
</div>

<div class="container">
<br>
<br>
<br>
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">alert('{{message}}')</script>
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
            <div class="col-md-9">
            	<br>
                <div class="card">
                    <div class="card-header">UPLOAD</div>
                    <div class="card-body">

                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file1"> Upload a file</label>
                    <input type="file" id="file1" name="file" class="btn">
                    <small>Only accepts CSV files</small>
                    <button type="submit" class="btn bg-dark text-white">Upload</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
            
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}