{% extends 'base.html' %}

{% block content %}

<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-dark text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">

{% if messages %}
    {% for message in messages %}
        <h4 style="color:green" align="center"><script type="text/javascript">alert('{{message}}')</script></h4>
    {% endfor %}
{% endif %}

<div class="row justify-content-center">
            <div class="col-md-9">
            
                <div class="card">
                    <div class="card-header">UPLOAD</div>
                    <div class="card-body">
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn bg-dark text-white">Upload</button>
  </form>
    
                        </div>
                    </div>
                </div>

            </div>
</div>
{% endblock %}